html
{
    font-family: sans-serif;
    font-size: 36px;
    text-align: center;
    -webkit-appearance: none;
    border-radius: 0;
    height: 100%;
}


body
{
    height: 100%
}

span
{
    font-size: 30px;
}

button
{
    width: 20%;
    height: 12%;
    font-size: 30px;
}


button#update
{
    width: 33%;
}