html
{
    font-family: sans-serif;
    font-size: 9vw;
    text-align: center;
    -webkit-appearance: none;
    border-radius: 0;
    height: 100%;
}


body
{
    height: 100%
}

span
{
    font-size: 7vw;
}

button
{
    width: 20%;
    height: 12%;
    font-size: 8vw;
}


button#update
{
    width: 33%;
}