html
{
    font-family: sans-serif;
    font-size: 8vw;
    text-align: center;
    -webkit-appearance: none;
    border-radius: 0;
    height: 100%;
}


body
{
    height: 100%
}

span
{
    font-size: 7vw;
}

button
{
    width: 19.5%;
    height: 11.2%;
    font-size: 8vw;
    text-align: center;
    -webkit-appearance: none;
    border-radius: 0;
    border: 1px solid gray;
    background-color: lightgray; 
    padding: none;
}


button#update
{
    width: 33%;
    text-align: center;
}